.navStudent {
    height: calc($navbar-height - 5%);
    display: flex;
    background-color: $color-blue-nav;
    position: sticky;
    align-items: center;
    padding: 1% 5% 1% 2%;

    &__logo {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 0.5rem;
        margin-right: auto;

        & img {
            width: 3.5rem;
            height: 3.5rem;
        }

        & h1 {
            font-size: calc(12px + 1.5vw);
            color: $white;
            font-weight: 500;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-password {
            background-color: $color-yellow-btn;
            border-radius: 10px;
            padding: 0.5em 1em;
            cursor: pointer;
            @include transition;

            & button {
                color: $white;
            }

            &:hover {
                background-color: $color-hover-btn;
            }
        }

        &-matricula {
            color: $white;
        }

        &-img {
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            // transform: translateX(-180%);
            & img {
                width: 3rem;
                height: 3rem;
            }
        }

        &-exit {
            border-radius: 10px;
            background-color: $color-yellow-btn !important;
            color: $white;
            padding: 0.6rem 0.8rem;
            margin-right: 1rem;
        }
    }
}

.navStudentPosition {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

@include respond(tab-port) {
    .navStudent {
        padding: 1% 3% 1% 2%;

        &__logo {
            & img {
                width: 4.4rem;
                height: 4.4rem;
            }
            & h1 {
                  text-align: center;
                  font-size: calc(8px + 1vw);
            }
        }
        &__info {

            &  * {
                font-size: calc(6.7px + .8vw);
            } 
            &-img {
                width: 3.5rem;
                height: 3.5rem;
                & img {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }

            &-exit{
                display: flex;
                align-items: flex-end;
                gap: 8%;

                & i {
                    font-size: calc(6.7px + 1vw);
                }
            }

        }

        
    }
}
