.studentsSubmenu{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: $white;
    position: sticky;
   

    &__item {
        color: $color-blue-nav;
        text-align: center;
        border-bottom: 2.5px solid transparent;
        cursor: pointer;
        
        & h2{
            font-weight: 700;
            font-size: calc(11px + 1.5vw);
            padding: .6rem 0;
        }
    }
}

.activeLink,
.studentsSubmenu__item-hover:hover{
    @include transition;
    border-color: $color-blue-borderBottom;
}