.studentsPswd {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background-color: $white;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    height: max(75vh, 100%);
    border: 1px solid $gray-border;
    padding-bottom: 7vh;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 2rem 0;
        font-size: calc(11px + 1.5vw);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 72%;

        &__row {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            font-size: calc(11px + 1.5vw);
            
            & label {
                padding-left: 1.5%;
            }

            & input {
                background-color: $white;
                border: 1px solid $gray-navbar;
                border-radius: 10px;
                padding: 2.5% 5%;
            }

            .MuiInput-underline {
                &:before {
                    // border-bottom: none;
                    display: none;
                }
                &::after{
                    display: none;
                }
            }
            .MuiInputBase-root {
                // border: 1px solid red;
                position: relative;
            }
            .MuiInputAdornment-positionEnd {
                margin-left: 8px;
                right: 0;
                position: absolute;
        }
    }
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__error{
        color: red;
        margin-left: .4rem;
    }
}
