
.studentsPswd{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;

        &-title{
            display: none;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &__row{
            display: flex;
            flex-direction: column;
            gap: .4rem;

            & input{
                background-color: $white;
                border: 1px solid gray;
                border-radius: 10px;
            }

            .MuiInput-underline:before{
                border-bottom: none;
            }
            .MuiInputBase-root{
            }
        }
    }

    &__submit{
        display: flex;
        justify-content: center;
        align-items: center;

    }


}