.studentsPswd {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background-color: $white;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 2rem 0;

        &-title {
            display: none;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 72%;

        &__row {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            & input {
                background-color: $white;
                border: 1px solid gray;
                border-radius: 10px;
                padding-left: 1rem;
            }

            .MuiInput-underline {
                &:before {
                    // border-bottom: none;
                    display: none;
                }
                &::after{
                    display: none;
                }
            }
            .MuiInputBase-root {
                // border: 1px solid red;
                position: relative;
            }
            .MuiInputAdornment-positionEnd {
                margin-left: 8px;
                right: 0;
                position: absolute;
        }
    }
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__error{
        color: red;
        margin-left: .4rem;
    }
}
