.studentsFooter{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    // background-color: $blue-aqua;

    &-info {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: baseline;
        color: $color-blue-nav;

        &-content {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & p {
                font-family: "Philosopher", sans-serif;
                font-size: .9rem;
                font-weight: 600;
                letter-spacing: .05px;
            }
    
            & i {
                font-size: 1.5rem;
            }
        }

    }
}