
.checkState__{
    &headers{
        display: flex;
        align-items: center;
        align-items: center;
        // position: relative;

        &-filter {
            background-color: $blue-icon !important;
            box-shadow: 0px 3px 6px $shadow-search;
            border-radius: 5px;
            font-size: 0.8rem;
            color: $gray-changePage;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 3.5rem;
            margin-bottom: 1.5rem;
            padding: .6rem ;
    
    
            &:hover {
                background-color: darken($color: $blue-icon, $amount: 7) !important;
                
            }
    
            & i {
                font-size: 0.9rem;
            }
        }

        &-filteredList {
            background: hsl(210.35% 100% 89.33% / 0.4) ;
            backdrop-filter: blur(3rem);
            z-index: 7;
            border: 1px solid $filterPaid-back;
            opacity: 1;
            border-radius: 10px;
            padding: 1.2rem 2rem;
            position: absolute;
            right: 7%;
            top: 7%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            &:after {
                content: "";
                position: absolute;
                border: 12px solid transparent;
                border-right: 12px solid rgb(230,240,251);
                left: -12px;
                top: 0;
                transform: rotate(136deg);
            }

            &-item{
                list-style: none;

               &.active{
                   color: $mustard;
               }
            }
        }

        &-fiterText{
            margin-left: 2%;
            margin-bottom: 1.5rem;
        }

        &-back {
            margin-left: auto;
            margin-bottom: 1.5rem;
        }
    }

   
}

