.fer{
    &__container {
        display: flex;
        flex-direction: column;
        height: 95%;
        width: 95%;
        justify-content: space-between;
    }
    &__header {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 90%;
        margin: 0 auto;
        position: relative;

        &__date {
            display: flex;
            gap: 0.5em;
            font-size: calc(0.4rem + 0.6vw);
            align-items: center;
        }
        &-matricula{
            grid-column: 1/6;
        }

        &-instructions {
            grid-column: 6/13;
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        &__matri-text {
            display: grid;
            width: 100%;
            margin-top: 1.3rem;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(1, 1fr);
            form {
                width: 33%;
                input {
                    width: 80% !important;
                }
            }

            

            h4 {
                color: $fertilizer-text;
                text-align: center;
                // width: 60%;
                font-family: "Noto Sans", sans-serif;
                font-size: 0.9rem;
            }
            &__dataStudent {
                position: absolute;
                font-weight: 600;
                font-size: calc(0.4rem + 0.5vw);
                color: $black;
                text-align: center;
                text-transform: uppercase;
                top: 0;
                left: 0;
                right: 0;
                line-height: 1.7rem;
                pointer-events: none;

                p:nth-child(1) {
                    text-transform: initial;
                    color: $blue-button;
                    font-size: calc(0.5rem + 0.5vw);
                }
            }
        }
    }

    &__table {
        // background-color: $blue-icon;
        height: 61%;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        align-items: center;
        // border: 1px solid #e9eaeb;

        hr {
            width: 100%;
            border: none;
            border-top: 1px solid #a5a5a5b3;
        }
        &__headers,
        &__data {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &__container {
                width: 100%;
                &__box {
                    display: flex;
                    font-size: calc(5px + 0.5vw);
                    justify-content: space-between;
                    padding: 0.2rem 0;
                    &__item {
                        display: flex;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        justify-content: center;
                    }
                    &__item:nth-child(1) {
                        width: 15%;
                    }
                    &__item:nth-child(2) {
                        width: 30%;
                    }
                    &__item:nth-child(3),
                    &__item:nth-child(4),
                    &__item:nth-child(5) {
                        width: 8%;
                        // text-align: right;
                        p {
                            width: 100%;
                        }
                    }
                    &__item:nth-child(6) {
                        width: 20%;
                        justify-content: center;
                        align-items: center;
                        color: $blue-solid;
                        p {
                            cursor: pointer;
                        }
                        div {
                            cursor: pointer;
                            margin-left: 0.3rem;
                            i {
                                font-size: calc(5px + 0.45vw);
                            }
                        }
                    }
                }
            }

            &.disabled {
                opacity: 0.48;
            }
        }

        &__data {
            overflow: auto;
            height: 90%;

            &__container__box {
                font-size: calc(4px + 0.5vw);
            }

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb:active {
                background-color: #999999;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #b3b3b3;
            }

            /* Estilos track de scroll */
            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }
    }
}
