.make__ {
    display: flex;
    flex-direction: column;
    height: 89%;
    width: 87%;
    // font-family: "Philosopher", sans-serif ;
    position: relative;
    &date {
        height: 8%;
    }

    &container {
        display: flex;
        height: 92%;
        width: 100%;
        justify-content: space-between;
    }

    &subContainerLeft,
    &subContainerRight {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &subContainerLeft {
        width: 50%;
    }

    &subContainerRight {
        width: 42.5%;
    }

    &containerInput {
        display: flex;
        flex-direction: column;
        //left
        justify-content: space-between;
        height: 12.5%;
        margin-top: 1em;

        input {
            border: 1px solid $gray-bars;
            border-radius: 7px;
            height: 41.5%;
            padding: 5px;
            width: 60%;
            font-size: calc(4.5px + 0.5vw);
        }
    }

    &titleSection {
        font-size: calc(5.5px + 0.5vw);
        font-weight: bold;
        // height: 30%;s
    }
    &subTitleSection {
        font-size: calc(5px + 0.5vw);
        font-weight: 600;
        // height: 7.5%;
    }

    &studentInformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 32.5%;
        .data {
            background-color: $blue-sky3;
            border-radius: 7px;
            height: 87%;
            p {
                font-size: calc(6px + 0.5vw);
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    &conceptPay {
        display: flex;
        flex-direction: column;
        height: 37.5%;
        justify-content: space-between;

        &-way {
            height: 35.2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-data {
            display: flex;
            flex-direction: column;
            height: 31.5%;
            justify-content: space-between;

            &-input {
                height: 28.5%;
            }

            input {
                border: none;
                background-color: $blue-sky3;
                text-transform: uppercase;
                border-radius: 7px;
                padding: 0.55rem 0.4rem;
                width: calc(100% - 0.8rem);
                font-size: calc(4.5px + 0.5vw);
                font-weight: 600;
                pointer-events: none;
            }
        }
    }

    &payMethod {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 14%;

        // &container {
        //     padding-top: 0.5em;
        // }
        &__items {
            height: 51%!important;
        }
    }

    //Right Part
    &card {
        h5 {
            font-size: calc(6px + 0.5vw);
            font-weight: 600;
            margin-bottom: 0.3rem;
        }
        p {
            opacity: 0.6;
            font-size: calc(6px + 0.5vw);
        }
    }
    &account {
        position: relative;
        display: flex;
        select {
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            appearance: none;
            border: 1px solid $gray-changePage;
            border-radius: 5px;
            padding: 0.2rem;
            height: 100%;
            margin: 0;
            font-weight: bold;
            color: $black;
            font-family: "Segoe UI", sans-serif !important;
        }
        .iconContainer {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: 0;
            pointer-events: none;
            i {
                margin-right: 0.5rem;
                font-size: calc(5px + 0.5vw);
                color: $gray-changePage;
            }
        }
    }
    &containerListConcepts {
        position: absolute;
        display: flex;
        align-items: center;
        top: 35.5%;
        left: 47.5%;
        width: 45.5%;
        height: 59%;
        background-color: red;
        pointer-events: all;
        background-color: $blue-sky;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
        &__show {
            height: 90%;
            width: 90%;

            &__form {
                width: 100%;
                height: 20%;
                form {
                    width: 100% !important;
                }
            }
            &__data {
                height: 80%;
                margin-top: 0.4rem;
                background-color: $white;
                border: 1px solid $filterPaid-back;
                border-radius: 5px;
                padding: 0.3rem;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #ccc;
                    border-radius: 2px;
                }

                &::-webkit-scrollbar-thumb:active {
                    background-color: #999999;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #b3b3b3;
                }

                /* Estilos track de scroll */
                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                p {
                    padding: 2px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    font-size: 0.85rem;
                    text-transform: uppercase;
                }
                p:hover {
                    border: 1px solid #7ca5ce;
                    border-radius: 5px;
                }
            }
        }
    }

    &total {
        display: flex;
        height: 8.6%;

        &-pay {
            width: 40%;
        }

        &-quantity {
            border: 1px solid $black;
            width: 30%;
            height: 95%;
            position: relative;
            text-align: center;

            &::before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 8px solid transparent;
                border-right: 8px solid $black;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                left: -16px;
                top: 20%;
            }

            &:after {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 8px solid transparent;
                border-right: 8px solid #fff;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                left: -15px;
                top: 20%;
            }
        }
    }

    &formMoney {
        height: 27%;
        div {
            display: flex;
            flex-direction: column;
            input {
                margin-bottom: 0.6rem;
                width: 80%;
            }
        }
    }

    &submit {
        display: flex;
        justify-content: center;
        cursor: pointer;
        height: 10%;
        width: 100%;

        &-button {
            width: 33.5%;
        }
    }
}

//Generals
.btn-payContainer {
    display: flex;
    justify-content: space-between;
    height: 54%;

    .btn-payElement {
        display: flex;
        font-size: calc(6px + 0.5vw);
        align-items: center;
        justify-content: center;
        background-color: $filterPaid-back;
        border-radius: 10px;
        cursor: pointer;
        width: 28%;
        // height: 94%;
        div {
            margin-left: 0.3rem;
            i {
                font-size: calc(2px + 0.5vw);
                color: $gray-changePage;
            }
        }
        a {
            margin-left: 0.3rem;
            i {
                font-size: calc(2px + 0.5vw);
                color: $gray-changePage;
            }
        }

        &.selected {
            background-color: $yellow-radius;
        }
    }
}

.btn-blue {
    &.getPay {
        padding: 0.6rem;
        background-color: $blue-solid;
        border: none;
        color: $white;
        border-radius: 9px;
        margin-right: 2rem;
    }
    &.submitPay {
        background-color: $blue-solid;
        border: none;
        color: $white;
        border-radius: 8px;
    }
}

.dataPay__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    &-header {
        font-weight: bold !important;
        place-self: center;
    }

    &-item {
        font-weight: bold !important;
        grid-column: span 4;
        text-align: initial;
    }
}
