.general {
    height: calc(100vh - 120px - 4rem);
    width: calc(100vw - 4rem);
    display: flex;
    margin: 1rem auto 3rem auto;
    justify-content: space-between;
    position: relative;
    &__menu {
        height: 100%;
        width: 23%;
        display: flex;
        flex-direction: column;

        &__item {
            margin: 1rem 0;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            color: $gray-bars;
            display: flex;
            font-size: calc(23px - 0.5vh);
            align-items: center;

            &:first-child {
                margin-top: 0;
            }

            i {
                align-self: center;
                margin-right: 1.5rem;
                width: 5%;
            }

            &:first {
                margin: 0;
            }
            &:hover {
                color: darken($color: $mustard, $amount: 8);
                transition: color 0.4s;
            }

            &__subMenu {
                font-size: calc(23px - 0.5vh);
                align-items: center;
                height: 40px;
                padding-left: 3rem;
                color: $blue-btn-text;
                // display: none;
                display: flex;
                i {
                    align-self: center;
                    margin-right: 1rem;
                    width: 5%;
                }
                &__active {
                    color: $blue-active-text !important;
                    background-color: $blue-sky3;
                    transition: color 0.4s;
                }
                &:hover {
                    color: lighten($color: $blue-btn-text, $amount: 8);
                    transition: color 0.4s;
                }
            }
        }

        .active {
            color: $mustard;

            .general__menu__item__subMenu {
                // display: flex;
            }
        }
    }
    &__overtexture {
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 77%;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000017;
        border: 0.5px solid $gray-border;
        border-radius: 10px;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &__modalEdit {
            width: 75%;
            height: 90%;
            z-index: 100;
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #6b8aa854;
            border-radius: 10px;
            display: flex;
            position: absolute;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

            &__content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                z-index: 2;

                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-image: url("../../../helpers/resources/images/logoAleNoText.png");
                    background-size: 70%;
                    background-repeat: no-repeat;
                    background-position: 80%;
                    opacity: 0.2;
                }

                &__title {
                    width: 100%;
                    height: 5%;
                    display: flex;
                    justify-content: flex-end;
                    font-size: calc(0.6rem + 1vw);
                    font-weight: bold;
                    text-align: right;
                }

                &__body {
                    width: 95%;
                    height: 65%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1rem;

                    .title {
                        width: 40%;
                        display: flex;
                        font-size: calc(0.55rem + 1vw);
                        font-weight: bold;
                    }

                    .noTitle {
                        width: 60%;
                        display: flex;
                        font-size: calc(0.3rem + 1vw);
                    }
                }
                //Here is going to be the footer
                &__footer {
                    width: 95%;
                    height: 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;
                    button span {
                        font-size: calc(0.25rem + 1vw) !important;
                    }
                    button i {
                        font-size: calc(0.7rem + 1vw) !important;
                    }
                }
            }
        }
    }

    &__titleSection {
        font-size: calc(8.5px + 0.5vw);
        font-weight: 600;
        margin-bottom: 0.3rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
    }
}

.filterModal {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: 99;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
    }
}
.activeGuide {
    border: 1px solid $activeBorder !important;
    box-shadow: 0px 3px 6px #00000017;
}
.disabledGuide {
    opacity: 0.7;
    transition: all 0.3s;
    pointer-events: none;
}

.son.activeGuide {
    border: initial !important;
    box-shadow: initial;
    .son {
        border: 1px solid $activeBorder;
        box-shadow: 0px 3px 6px #00000017;
    }
}

.blackFilter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
