html, body {
    font-family: "Segoe UI", sans-serif !important
}
.general {
    height: calc(100vh - 120px - 4rem);
    width: calc(100vw - 4rem);
    display: flex;
    margin: 1rem auto 3rem auto;
    justify-content: space-between;
    &__menu {
        height: 100%;
        width: 23%;
        display: flex;
        flex-direction: column;

        &__item {
            margin: 1rem 0;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            color: $gray-bars;
            display: flex;
            font-size: calc(23px - 0.5vh);
            align-items: center;

            &:first-child {
                margin-top: 0;
            }

            i {
                align-self: center;
                margin-right: 1.5rem;
                width: 5%;
            }

            &:first {
                margin: 0;
            }
            &:hover {
                color: darken($color: $mustard, $amount: 8);
                transition: color 0.4s;
            }
        }

        .active {
            color: $mustard;
        }
    }
    &__overtexture {
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 77%;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000017;
        border: 0.5px solid $gray-border;
        border-radius: 10px;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__titleSection {
        font-size: calc(8.5px + 0.5vw);
        font-weight: 600;
        margin-bottom: 0.3rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 3%;
    }
}
