* {
    margin: 0px;
}

html,
body {
    font-family: "Philosopher", sans-serif;
    height: 100vh;
    width: 100vw;
}

.btn {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
input {
    border: none;
}

.styledInput {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.containerSection {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
}

.overTexture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

input:focus,
select:focus {
    outline: none;
}


.scroll{
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }

    /* Estilos track de scroll */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}